/* !============>Start Global Style<============= */
:root {
    --main-color: #272B30;
    --text-color: #fff;
    --secandory-color: #32383e;
    --btn-main-color: #272729;
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

::-webkit-scrollbar-track {
    background-color: var(--secandory-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
}

a,
p,
span {
    color: inherit !important;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--main-color);
    min-width: 100%;
    min-height: 100%;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nerko One', cursive;
    color: var(--text-color) !important;
}

.bagde-color {
    background-color: var(--secandory-color);
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: #272b30e3;
    inset: 0;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: box1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
}

.loader:after {
    animation: box2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8)
    }

    50% {
        transform: rotate(360deg) scale(1.2)
    }

    100% {
        transform: rotate(720deg) scale(0.8)
    }
}

@keyframes box1 {
    0% {
        box-shadow: 30px 0 0 #ff3d00;
    }

    50% {
        box-shadow: 0 0 0 #ff3d00;
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #ff3d00;
        margin-bottom: 10px;
    }
}

@keyframes box2 {
    0% {
        box-shadow: 30px 0 0 #fff;
    }

    50% {
        box-shadow: 0 0 0 #fff;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #fff;
        margin-top: 0;
    }
}
/* !============>End Global Style<============= */
/* &============>Start Header Style<============= */
header img {
    max-height: 30vh;
    object-fit: cover;
}


/* &============>End Header Style<============= */
/* ^============>Start Nav Style<============= */
nav {
    background-color: #3A497B;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
    margin-top: -35px;
}

nav h5 {
    font-size: 1.25rem;
}

nav h5 img {
    max-width: 50px;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
}

.nav-item .nav-link {
    font-size: .8125rem;
}

/* ^============>End Nav Style<============= */
/* !============>Start Games Section Style<============= */
.games-cards .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
}

.games-cards .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.games-cards .card figure {
    padding: 15px;
}

.games-cards .card figure img {
    border-radius: 5px 5px 0 0;
}

.games-cards .card-body .badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* !============>End Games Section Style<============= */
