/* !============>Start Global Style<============= */
:root {
    --main-color: #272B30;
    --text-color: #fff;
    --secandory-color: #32383e;
    --btn-main-color: #272729;
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

::-webkit-scrollbar-track {
    background-color: var(--secandory-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
}

a,
p,
span {
    color: inherit !important;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--main-color);
    min-width: 100%;
    min-height: 100%;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nerko One', cursive;
    color: var(--text-color) !important;
}

.bagde-color {
    background-color: var(--secandory-color);
}

/* !============>End Global Style<============= */
/* &============>Start Header Style<============= */
header img {
    max-height: 30vh;
    object-fit: cover;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: #272b30e3;
    inset: 0;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* &============>End Header Style<============= */
/* ^============>Start Nav Style<============= */
nav {
    background-color: #3A497B;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
    margin-top: -35px;
}

nav h5 {
    font-size: 1.25rem;
}

nav h5 img {
    max-width: 50px;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
}

.nav-item .nav-link {
    font-size: .8125rem;
}

/* ^============>End Nav Style<============= */
/* !============>Start Games Section Style<============= */
.games-cards .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
}

.games-cards .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.games-cards .card figure {
    padding: 15px;
}

.games-cards .card figure img {
    border-radius: 5px 5px 0 0;
}

.games-cards .card-body .badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* !============>End Games Section Style<============= */